body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    color: black;
    border: 2px solid purple;
    display: grid;
    grid-template-columns: auto 1fr; /* Fixed left, remaining space right */
    height: 100vh; /* Set grid container height to viewport height */
}

/* HEADER SECTION */
header {
    color: white;
    background-color: green;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    border: 2px solid purple;
    flex: 0 0 auto; /* The fixed column won't grow or shrink */
    width: 200px;   /* Adjust this width as needed */
    position: sticky;
}

.myName {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serifß;
    font-size: 24px;
    margin: 0% 5% 10% 5%;
    text-align: center;
    border: 2px solid purple;
}

/* NAV BAR SECTION */
nav {
    margin: auto;
    margin-top: 0;
    border: 2px solid purple;
}

ul.navBar {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    list-style-type: none;
    border: 2px solid purple;
}

li.navBar {
    display: block;
    margin-bottom: 100%;
    border: 2px solid purple;
}

li.navBar:hover {
    background-color: #016420; /* Change background color when clicked */
}

/* MAIN BODY SECTION */
main {
    border: 2px solid teal;
    flex: 1; /* This column will take up remaining space */
    overflow-y: auto; /* Enable scrolling for content that overflows */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    border: 2px solid purple;
}

.hero {
    border: 2px solid purple;
}

/* ABOUT SECTION */
.about-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
}

.about-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid purple;
    background-color: #8a8a8a; /* Background color */
    margin-bottom: 25px;
    border-radius: 10px;
    width: 70vh; /* Adjust the width as needed */
    height: 15vh; /* Adjust the height as needed */
}

.about-item:hover {
    opacity: 0.8; /* Change background color when clicked */
    transition-duration: 0.1s;
}


/* modal styles for about section */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    width: 50%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

/* modal close button */
/* position */
.close {
    cursor: pointer;
    position: absolute;
    top: auto; /* Remove the top property to allow automatic placement */
    bottom: 10px; 
    right: 10px; 
}
    
/* design */
#closeModalBtn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #24292e;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}

#closeModalBtn:hover {
        background-color: #f3f4f6;
        border-color: #1b1f2326;
        transition-duration: 0.1s;
}

#socials {
    list-style-type: none;
    text-align: center;
    align-content: center;
}

#socials li {
    display: inline;
    margin-right: 10px;
}

#socials a {
    text-decoration: none;          /* Remove underline */
}

.logos {
    display: inline-block;
    vertical-align: middle;
    width: 5%;
    height: 5%;
}



