body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    color: black;
    border: 2px solid purple;
    display: grid;
    grid-template-columns: auto 1fr; /* Fixed left, remaining space right */
    height: 100vh; /* Set grid container height to viewport height */
}

/* HEADER SECTION */
header {
    color: white;
    background-color: green;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    border: 2px solid purple;
    flex: 0 0 auto; /* The fixed column won't grow or shrink */
    width: 200px;   /* Adjust this width as needed */
    position: sticky;
}

.myName {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serifß;
    font-size: 24px;
    margin: 0% 5% 10% 5%;
    text-align: center;
    border: 2px solid purple;
}

/* NAV BAR SECTION */
nav {
    margin: auto;
    margin-top: 0;
    border: 2px solid purple;
}

ul.navBar {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    list-style-type: none;
    border: 2px solid purple;
}

li.navBar {
    display: block;
    margin-bottom: 100%;
    border: 2px solid purple;
}

li.navBar:hover {
    background-color: #016420; /* Change background color when clicked */
}

/* MAIN BODY SECTION */
main {
    border: 2px solid teal;
    flex: 1; /* This column will take up remaining space */
    overflow-y: auto; /* Enable scrolling for content that overflows */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    border: 2px solid purple;
}

.hero {
    border: 2px solid purple;
}

/* ABOUT SECTION */
.about-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
}

.about-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid purple;
    background-color: #8a8a8a; /* Background color */
    margin-bottom: 25px;
    border-radius: 10px;
    width: 70vh; /* Adjust the width as needed */
    height: 15vh; /* Adjust the height as needed */
}

.about-item:hover {
    background-color: #bdbdbd; /* Change background color when clicked */
}

