body {
    background-color: black;
    text-align: center;
}

.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(65, 174, 163);
    font-weight: bold;
    font-size: 24px;
}
